{{> head }}

{{> navbar }}


<div class="row">

        <div class="col-8">
            <h1>
                    REAL MADRID 
            </h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem repellendus beatae excepturi est vel, temporibus ratione adipisci enim, fugiat facere eveniet impedit non veniam, possimus tempore a deserunt neque consectetur!</p>

        </div>


        <div class="col-4">
            <img src="assets/img/real.jpg" class="img-thumbnail">


        </div>


</div>

{{> footer }}